.header-menu {
  	width: 100%;
  	display: flex;
  	justify-content: space-between;
  	padding: 1em 1em 0 1em;
  	z-index: 3;
}

.heading {
	color: #000000;
}

.burger-menu {
	position: fixed;
	right: 1em;
	top: 1em;
  	font-size: 1.35em;
  	color: #ffffff;
	border-radius: 10em;
	padding: 0.3em;
	display: flex;
	align-self: center;
	background-color: #97458c;
	box-shadow: var(--shadow-before);
	margin-bottom: 1em;
	transition: var(--animation-time)
  }

  .burger-menu:hover {
	box-shadow: var(--shadow-after);
	transform: scale(0.97);
	cursor: pointer;
	background-color: #b150a4;
  }
