.mobile-screen {
	position: fixed;
	background-color: #ffffff;
	color: #000000;
	width: 100%;
	top: 98px;
	padding: 1em 0;
	line-height: 2em;
}

.desktop-screen {
	position: fixed;
	z-index: 2;
	background-color: #ffffff;
	color: #000000;
	width: 350px;
	height: 100%;
	top: 0px;
	padding: 1em 0;
	line-height: 2em;
	border-radius: 0 0 3px 0;
}

.menuOption {
	margin-top: 1em;
	height: 6em;
	display: grid;
	grid-template-columns: 3em 1fr;
}

.menu-option-heading {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 1.5em;
	font-weight: bold;
	align-self: end;
	padding-left: 1rem;
}

.menuOption:last-child {
	margin-bottom: 1em;
}

.menu-heading {
	text-align: center;
	font-size: 1.8em;
	margin-bottom: 0.5em;
}

.mobile-screen > ul,
.desktop-screen > ul {
	padding: 0;
} 

.mobile-screen > ul > li,
.desktop-screen > ul > li {
	padding-left: 0.5em;
	transition: all 0.2s;
}

ul > li > .menu-description {
	font-size: 1.2em;
	padding-right: 1em;
	padding-left: 1rem;
	grid-column: 2;
	grid-row: 2;
}

.mobile-screen > ul > li:hover,
.desktop-screen > ul > li:hover {
	background-color: #97458c;
	cursor: pointer;
	padding-left: 1em;
	color:#ffffff;
}

.menu-icon {
	width: 3em;
	grid-column: 1;
	grid-row: 1 / span 2;
	align-self: center;
}

@media (min-width: 1040px) {
	.menuOption {
		height: 8em;
	}
}